body{
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
}

@media all and (max-width: 699px) {
    header {height: 60px;}
}

@media all and (min-width: 700px) {
    header {height: 100px;}
}

#centre{
    overflow: hidden;
}

nav{
    height: 200px;
    width: 150px;
    background-color: aquamarine;
    display: block;
    float: left;
}

#main{
    width: 80%;
    display: inline-block;
    background-color: bisque;
}