html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #F2F2F2;
}

#biosans {
    font-family: 'Bio Sans';
    font-weight: bold;
    font-style: normal;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 6vw;
    padding: 0px;
    width: 50vw;
    height: 8vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 5vw;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}